body {
    font-family: Open Sans;
	color: #c3c3c3;
	background-color: #0a0a0a;
	font-size: 14px;
}
.color-light {
	color: #e5e5e5;
}
.bg-dark {
    background-color: #1a1a1a;
}
.os-font {
	font-family: Open Sans;
}
.icon-title {
    font-size: 28px;
}
.header.scrolling-menu .header-main {
    background-color: rgba(10, 10, 10 ,1);
	border-bottom: 1px solid rgba(26, 26, 26 ,1);
}
.seperate-line {
	border-bottom: 1px solid #212121;
}
.team .team-member img {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.team .team-member .member-info,
.team .team-member:hover .member-links .link > a {
	color: #0a0a0a;
}
.team .team-member .member-overlay {
	background-color: #fff;
}
.team .team-member .member-position {
	color: #797979;
}
.service-item i {
	font-size: 67px;
}
.masonry-filter {
	font-size: 11px;
}
.masonry-filter li a {
	color: #797979;
	background-color: #202020;
}
.masonry-filter li:hover a, 
.masonry-filter li a.active {
	color: #e5e5e5 !important;
	background: #202020 !important;
}
.portfolio-grid .portfolio-masonry-item {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}
.portfolio-grid .grid-content-wrapper .grid-content {
	color: #0a0a0a;
}
.portfolio-grid .grid-content-wrapper .grid-content .liner {
	border-bottom-color: #111111;
}
.mfp-bg {
	background-color: #0A0A0A;
}
button.mfp-close {
	display: block;
}
.footer-top,
.footer-bottom {
	background: none;
	color: #c3c3c3;
}
.contact-item i,
.contact-item .contact-info {
	float: left;
}
.contact-item i {
	font-size: 30px;
}
.contact-item .contact-info {
	margin-left: 15px;
}
.contact-item .contact-info h4 {
    font-size: 17px;
    margin-bottom: 10px;
}
.contact-item .contact-info p {
    font-size: 12px;
    line-height: 25px;
}
.section-instagram a {
	color: #fff;
}
.section-instagram a:hover {
    color: #f1c40f;
}
.go-to-top {
	background-color: #fff;
	color: #0a0a0a;
}
.go-to-top:hover {
	color: #0a0a0a;
}
.noo-spinner {
	background-color: #0A0A0A;
}
.side-menu {
	display: none;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
}