body {
	font-family: 'Lato', sans-serif;
	color: #a0a0a0;
	background-color: #ffffff;
	font-size: 16px;
}
.os-font {
	font-family: 'Engagement', cursive;
}
.bg-color {
	background-color: #d4537b;
}
.bg-dark {
	background-color: #353535;
}
.dark-color {
	color: #3d3d3d !important;
}
.banner-text .banner-text-inner {
	vertical-align: middle;
	padding-bottom: 0;
}
.simple_line {
    border-bottom: 1px solid #e0dfdf;
	width: 98px;
}
.simple_line.center {
    margin-left: auto;
	margin-right: auto;
}
.social-links {
    display: inline-block;
    margin: 0px 0px 12px;
	font-size: 20px;
}
.social-links .social-item {
	display: inline-block;
    margin: 0px 0px 6px 6px;
    opacity: 0.9;
    padding-left: 4px;
    padding-right: 4px;
}
.social-links .social-item:fist-child {
    margin-left: 0px;
}
.social-links > a, 
.social-links > a:hover,
.social-links > a:focus {
	color: #fff;
}
.section-couple .col-sm-6 > div {
	padding-left: 15%;
	padding-right: 15%;
}
.header.header-transparent.scrolling-menu .header-main {
	border-bottom: 1px solid rgba(226, 225, 225 ,0.95);
	background-color: rgba(233, 233, 233 ,0.95);
}
.header.scrolling-menu .main-menu .main-nav > li > a {
    color: #606060;
}
.separator-text h4 {
	color: #a0a0a0;
}
.owl-theme .owl-controls .owl-page:before {
	background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
}
.highlighted {
    margin-bottom: 15px;
}
.contact-item i,
.contact-item .contact-info {
	float: left;
}
.contact-item i {
	font-size: 30px;
}
.contact-item .contact-info {
	margin-left: 15px;
}
.contact-item .contact-info h4 {
    font-size: 17px;
    margin-bottom: 10px;
}
.contact-item .contact-info p {
    font-size: 14px;
    line-height: 25px;
}
.side-menu {
	display: none;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
	.header.header-transparent .header-main {
		border-bottom: 1px solid rgba(226, 225, 225 ,0.95);
		background-color: rgba(233, 233, 233 ,0.95);
	}
	.header #logo #logo-before {
		display: none;
	}
	.header #logo #logo-after {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
	.header .sidebar-trigger .line {
		background-color: #606060;
	}
	.contact-item {
		text-align: center;
	}
	.contact-item i, .contact-item .contact-info {
		 float: none; 
		 display: block;
		 margin-bottom: 10px;
	}
}
@media (max-width: 480px) {
	#hidden-bar-mobile-logo img {
		max-width: 150px;
	}
	.contact-item {
		clear: left;
		float: left;
    	margin-bottom: 15px;
		width: 100%;
	}
	.contact-item .contact-info {
		margin-left: 0;
	}
}