body {
	font-family: 'PT Sans', sans-serif;
	color: #7a7a7a;
	background-color: #ffffff;
	font-size: 15px;
}
.os-font {
	font-family: 'Fredoka One', cursive;
}
.bg-gray {
	background-color: #f5f5f5 !important;
}
.bg-color {
	background-color: #fad46b !important;
}
.dark-color {
	color: #a8a8a8 !important;
}
.color-2 {
	color: #23aae5 !important;
}
.color-3 {
	color: #fad46b !important;
}
.banner-text .banner-text-inner {
	vertical-align: top;
	padding-bottom: 0;
	padding-top: 220px;
}
#anchor > a {
    color: #23aae5;
}
.icon-title {
	font-size: 48px;
}
.simple_line {
    border-bottom: 4px solid #E0E0E0;
	width: 70px;
}
.simple_line.center {
	margin-left: auto;
	margin-right: auto;
}
.simple_line.small {
	width: 36px;
}
.simple_line.color {
	border-bottom: 4px solid #fad46b;
}
.simple_line.thick {
	border-bottom-width: 6px;
}
.header .header-main {
	padding-left: 0;
	padding-right: 0;
}
.main-menu .main-nav > li > a {
	font-weight: 400;
	font-size: 14px;
	color: #23aae5;
}
.scrolling-menu .main-menu .main-nav > li > a {
	color: #fff;
}
.header.header-transparent.scrolling-menu .header-main {
	border-bottom: 1px solid rgba(35, 170, 229 ,0.95);
	background-color: rgba(35, 170, 229 ,0.95);
}
.team .team-member .member-overlay {
	background-color: #fad46b;
}
.kids-gallery > li {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}
.kids-gallery > li .gallery-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition-property: opacity,-moz-transform;
    -o-transition-property: opacity,-o-transform;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    z-index: 4;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
	background-color: rgba(255, 255, 255 ,0.2);
}
.kids-gallery > li:hover .gallery-overlay {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
.social-links {
    display: inline-block;
    margin: 0px 0px 12px;
    font-size: 50px;
}
.social-links .social-item {
    display: inline-block;
    margin: 0px 0px 6px 6px;
    padding-left: 4px;
    padding-right: 4px;
}
.social-links a {
	color: #eb4549;
}
.social-links a:hover {
	color: #fff;
}
.footer-wrap {
	background-color: #bad85e;
	font-size: 13px;
}
.side-menu {
	display: none;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
	#hidden-bar-mobile-logo img {
		max-width: 180px;
	}
	.header #logo, .header.scrolling-menu #logo, 
	.header.header-transparent.scrolling-menu #logo {
		margin-top: 15px;
	}
	.hidden-bar {
		background-color: #BAD85E;
		border-color: #BAD85E;
	}
	#off-canvas-nav .main-nav li a, .hidden-bar {
		color: #fff;
	}
}
@media (max-width: 480px) {
	#logo img {
		max-width: 160px;
	}
}