body {
    font-family: 'Lato', sans-serif;
	color: #efefef;
	background-color: #111111;
}
.bg-dark {
	background-color: #1d1d1d !important;
}
.dark-color {
    color: #222222 !important;
}
.os-font {
	font-family: Open Sans;
}
.custom-font {
	font-family: 'Dancing Script', cursive;
}
#fullscreen-banner {
    background-position: center;
}
.header .header-inner,
.header .header-main,
.main-menu,
.main-menu .main-menu-inner,
.main-menu .main-nav > li,
.main-menu .main-nav > li > a {
	height: 72px;
}
.header.header-transparent .header-main {
	background-color: rgba(17, 17, 17 ,0.7);
}
.main-menu .main-nav > li > a {
	line-height: 72px;
}
.header #logo {
	margin-top: 15px;
}
.banner-text .banner-text-inner {
	vertical-align: middle;
	padding-bottom: 0;
}
.double-line:before, .double-line:after {
    width: 66px;
	border-bottom: 1px solid #313131;
}
.double-line:before {
	left: -80px;
}
.double-line:after {
	right: -80px;
}
.box-info {
    padding-left: 20%;
    padding-right: 20%;
}
.box-info .fz-110 {
	line-height: 90px;
}
.box-info p {
    color: #efefef;
}
.widget_gallery ul.photo-gallery li {
	padding-left: 5px;
	padding-right: 5px;
}
.photo-gallery li img {
    width: 100%;
    transform: scale(1, 1);
    transition-duration: 0.3s;
    transition-property: transform;
    backface-visibility: hidden;
}
.photo-gallery li:hover img {
	transform: scale(1.2);
}
.mfp-bg {
	background-color: #111111;
}
.owl-theme .owl-controls .owl-page:before {
	background-color: #111111;
	border-color: #111111;
}
.team .team-member .member-position {
	color: #7c7c7c;
}
.seperate-line {
    border-color: #313131;
}
.section-instagram a {
	color: #fff;
}
.highlighted {
    border: 1px solid #212121;
    background-color: #161616 !important;
    color: #efefef;
	max-height: 38px;
}
.reservation-form .form-item {
	position: relative;
}
.reservation-form select {
    -webkit-appearance: none;
    box-shadow: none;
    transition-property: border-color, color, background-color;
    transition-duration: 0.45s;
    width: 100%;
    padding: 10px 14px;
    border-radius: 0px;
    outline: 0px;
	border: 1px solid #212121;
    background-color: #161616;
    color: #efefef;
	font-size: 13px;
    line-height: 10px;
}
.reservation-form .form-item i {
    position: absolute;
	top: 45px;
    right: 30px;
    font-size: 20px;
}
.reservation-form .form-item:hover i {
    visibility: hidden;
}
.footer-wrap .footer-top,
.footer-wrap .footer-bottom {
	background: none;
	padding: 0;
}
.social-links {
    display: inline-block;
    margin: 0px 0px 12px;
	font-size: 20px;
}
.social-links .social-item {
	display: inline-block;
    margin: 0px 0px 6px 6px;
    opacity: 0.9;
    padding-left: 4px;
    padding-right: 4px;
}
.social-links .social-item:fist-child {
    margin-left: 0px;
}
.simple-line {
    border-bottom: 4px solid #c19556;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}
.accordion-heading {
	background-color: rgba(33, 33, 33 ,0.4);
	border: 1px solid #212121;
	border-top: none;
}
.accordion-group:first-child .accordion-heading {
	border-top: 1px solid #212121;
}
.accordion-body {
	border-left: 1px solid #212121;
    border-right: 1px solid #212121;
	border-bottom: 1px solid #212121;
	background-color: #161616;
}
.noo-spinner {
	background-color: #111111;
}
.side-menu {
	display: none;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
	.box-info h2 {
		 font-size: 110px !important; 
	}
}
@media (max-width: 480px) {
	.box-info {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
		height: auto !important;
	}
	.accordion {
		float: left;
		width: 100%;
	}
}