body {
	font-family: Droid Serif;
	color: #313131;
	background-color: #ffffff;
	font-size: 16px;
}
.os-font {
	font-family: Open Sans;
}
.custom-font {
	font-family: 'Libre Baskerville', serif;
}
.dark-color {
	color: #181818 !important;
}
.light-color {
	color: #f2f2f2 !important;
}
.highlighted, .footer-top .highlighted {
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    color: #313131;
	height: 37px;
	margin-bottom: 18px;
}
textarea.highlighted, .footer-top textarea.highlighted {
	height: 142px;
}
.banner-text .banner-text-inner {
	padding-bottom: 80px;
	padding-left: 54px;
    padding-right: 54px;
}
.banner-text .banner-text-inner h5 { 
	margin-bottom: 5px;
}
.banner-text .banner-text-inner h3 { 
	letter-spacing: 1px;
}
#fullscreen-banner {
	background: none;
}
.header.header-transparent.scrolling-menu .header-main {
	background-color: rgba(247, 247, 247 ,0.95);
	border-bottom: 1px solid rgba(237, 237, 237 ,0.95);
}
.header.scrolling-menu .main-menu .main-nav > li > a {
	color: #181818;
}
.separator-text h4 {
	color:#cecece;
}
.showcase-table > li {
	width: 100%;
    float: left;
	font-size: 14px;
	padding: 16px 0px;
	border-top: 1px solid #ececec;
}
.showcase-table > li:first-child {
	border-top: none;
	font-size: 16px;
	padding: 8px 0px;
}
.showcase-table > li > span {
	width: 15%;
	float: left;
    word-wrap: break-word;
    padding-right: 9px;
}
.showcase-table > li > span + span {
	width: 45%;
}
.showcase-table > li > span + span + span {
	width: 20%;
}
.showcase-table li a {
	color: #181818;
}
.showcase-table li a:hover {
	color: #f1c40f;
}
.service-item i {
	font-size: 67px;
}
.footer-top, .footer-bottom {
	background: none;
	color: #313131;
	font-size: 16px;
	line-height: 26px;
}
.footer-top {
	border-bottom: 1px solid #ececec;
}
.footer-bottom {
	line-height: 15px;
}
.footer-bottom a {
	color: #313131;
}
.side-menu {
	display: none;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
	.header.header-transparent .header-main {
		background-color: rgba(247, 247, 247 ,0.95);
    	border-bottom: 1px solid rgba(237, 237, 237 ,0.95);
	}
	.header #logo #logo-before {
		display: none;
	}
	.header #logo #logo-after {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
	.header .sidebar-trigger .line {
		background-color: #181818;
	}
}
@media (max-width: 480px) {
	.separator-text h4 {
		font-size: 14px;
	}
}