body {
    font-family: Open Sans;
	color: #9BABB3;
}
.dark-color {
	color: #27394A !important;
}
.os-font {
	font-family: 'Raleway', sans-serif;
}
.custom-font {
    font-family: 'Libre Baskerville', serif;
}
.section-title {
    font-size: 42px;
}
.service-item i {
    font-size: 65px;
}
.team .team-member .member-overlay {
	background-color: #49B6B2;
}
.footer-wrap .footer-top,
.footer-wrap .footer-bottom {
	background: none;
}
.footer-top .highlighted {
	border-color: #9BABB3;
	margin-bottom: 15px;
}
.portfolio-info .item .label,
.single-blog-share .share-link a {
	color: #303030;
}
.section-portfolio-nav .nav-left a, 
.section-portfolio-nav .nav-right a,
.section-portfolio-nav .nav-thumb a .grid {
	color: #acacac;
}
.section-portfolio-nav .nav-thumb a .grid {
	background-color: #acacac;
}
.popup-content .related-content p {
	color: #acacac;
}
.header.header-transparent.scrolling-menu .header-main {
	background-color: rgba(255, 255, 255 ,0.95);
	border-bottom: 1px solid rgba(221, 226, 229 ,0.95);
}
.header.scrolling-menu .main-menu .main-nav > li > a {
    color: #27394A;
}
.header.scrolling-menu .sidebar-trigger .line {
	background-color: #27394A;
}
@media (max-width: 768px) {
	.header #logo #logo-before {
		display: none;
	}
	.header #logo #logo-after {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
	.header.header-transparent .header-main {
		background-color: rgba(255, 255, 255 ,0.95);
		border-bottom: 1px solid rgba(221, 226, 229 ,0.95);
	}
	.header .sidebar-trigger .line {
		background-color: #27394A;
	}
	.header.header-transparent.scrolling-menu #logo {
		margin-top: 13px;
	}
	.box-banner {
		height: auto !important;
		min-height: 300px;
	}
	.box-info {
		padding-bottom: 110px !important;
	}
	.box-info h2 {
		font-size: 28px !important;
	}
}
@media (max-width: 480px) {
	.section-title {
		font-size: 28px;
	}
}