body {
	font-family: 'PT Sans', sans-serif;
	color: #ffffff;
	background-color: #27292c;
}
.os-font {
	font-family: Open Sans;
}
.custom-font {
	font-family: 'Dancing Script', cursive;
}
.banner-text .banner-text-inner {
	vertical-align: middle;
	padding-bottom: 0;
}
.main-menu .main-nav > li > a:hover, 
.main-menu .main-nav > li > a:focus, 
.main-menu .main-nav > li.active > a, 
.main-menu .main-nav > li > a.current, 
.header.scrolling-menu .main-menu .main-nav > li > a:hover, 
.header.scrolling-menu .main-menu .main-nav > li > a:focus, 
.header.scrolling-menu .main-menu .main-nav > li.active > a, 
.header.scrolling-menu .main-menu .main-nav > li > a.current {
	color: #fff !important;
}
.main-menu .main-nav > li > a:before {
    background-color: #fff !important;
}
.header.header-transparent.scrolling-menu .header-main {
    background-color: rgba(0, 128, 189 ,1);
}
.footer-top, .footer-bottom, .footer-wrap {
	background-color: #1c1c1d;
	color: #fff;
}
.footer-top .footer-icon {
	font-size: 64px;
}
.footer-bottom {
	font-size: 14px;
}
.twitter-feed .twt-in {
    font-size: 23px;
    margin-bottom: 8px;
    line-height: 30px;
}
.twitter-slider .owl-controls {
	bottom: -100px;
	top: inherit;
	left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.twitter-slider.owl-theme .owl-controls .owl-buttons div {
	font-size: 38px;
	filter: Alpha(Opacity=100);
    opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div:hover {
	color: #0080BD;
}
.seperate-line {
    border-bottom-color: #27292c;
}
.go-to-top {
	background-color: #0080bd;
}
.mfp-bg {
    background-color: #111111;
}
.mfp-container {
	color: #989898;
}
.mfp-close-btn-in .mfp-close {
	color: #989898;
}
.section-portfolio-detail .detail h2 {
	color: #fff;
}
.portfolio-info .item .label,
.single-blog-share .share-link a {
	color: #fff;
}
.portfolio-info .item .content {
	color: #989898;
}
.popup-close .grid,
.section-portfolio-nav .nav-thumb a .grid {
	color: #989898;
    background: #989898;
}
.section-portfolio-nav .nav-left a, 
.section-portfolio-nav .nav-right a {
	color: #989898;
}
.section-portfolio-nav {
    border-top-color: #222222;
    border-bottom-color: #222222;
}
.section-portfolio-nav .nav-thumb {
	border-left-color: #222222;
    border-right-color: #222222;
}
.mfp-content .related-content h3 {
	color: #fff;
}
.noo-spinner {
	background-color: #0080bd;
}
.side-menu {
	display: none;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
	.box-info h2 {
		 font-size: 110px !important; 
	}
}
@media (max-width: 480px) {
	.box-banner {
		height: auto !important;
		min-height: 300px;
	}
	.box-info {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
		height: auto !important;
	}
	.box-info h3 {
		 font-size: 28px !important; 
	}
	.box-info h2 {
		 font-size: 42px !important; 
	}
}