body {
	font-family: 'PT Sans', sans-serif;
	color: #989898;
	background-color: #151515;
}
.os-font {
	font-family: Open Sans;
}
#fullscreen-banner,
.header.scrolling-menu .header-main {
	background: none;
}
.header.scrolling-menu .header-inner, 
.header.scrolling-menu .header-main, 
.header.scrolling-menu .side-menu, 
.header.scrolling-menu .main-menu, 
.header.scrolling-menu .main-menu .main-menu-inner, 
.header.scrolling-menu .main-menu .main-nav > li, 
.header.scrolling-menu .main-menu .main-nav > li > a {
    height: 120px;
}
.header.scrolling-menu #logo {
	margin-top: 39px;
}
.header.scrolling-menu .overlay-menu {
	top: 60px;
}
.overlay-menu .line:after, 
.header.header-transparent .overlay-menu:hover .line, 
.header.header-transparent.scrolling-menu .overlay-menu .line,
.overlay-menu .line:after, 
.header.header-transparent .overlay-menu:hover .line, 
.header.header-transparent.scrolling-menu .overlay-menu .line {
	background-color: #fff !important;
}
.box-info p {
	color: #989898;
}
.mfp-bg {
    background-color: #111111;
}
.mfp-container {
	color: #989898;
}
.mfp-close-btn-in .mfp-close {
	color: #989898;
}
.section-portfolio-detail .detail h2 {
	color: #fff;
}
.portfolio-info .item .label,
.single-blog-share .share-link a {
	color: #fff;
}
.portfolio-info .item .content {
	color: #989898;
}
.popup-close .grid,
.section-portfolio-nav .nav-thumb a .grid {
	color: #989898;
    background: #989898;
}
.section-portfolio-nav .nav-left a, 
.section-portfolio-nav .nav-right a {
	color: #989898;
}
.section-portfolio-nav {
    border-top-color: #222222;
    border-bottom-color: #222222;
}
.section-portfolio-nav .nav-thumb {
	border-left-color: #222222;
    border-right-color: #222222;
}
.mfp-content .related-content h3 {
	color: #fff;
}
.box-info {
	padding-left: 20%;
	padding-right: 20%;
}
.service-item i {
	font-size: 63px;
}
.owl-theme .owl-controls .owl-page:before {
	background-color: #383838;
	border-color: #383838;
}
.footer-wrap .footer-top,
.footer-wrap .footer-bottom {
	background: none;
	padding: 0;
}
.social-links {
    display: inline-block;
    margin: 0px 0px 12px;
	font-size: 20px;
}
.social-links .social-item {
	display: inline-block;
    margin: 0px 0px 6px 6px;
    opacity: 0.9;
    padding-left: 4px;
    padding-right: 4px;
}
.social-links .social-item:fist-child {
    margin-left: 0px;
}
.simple-line {
    border-bottom: 4px solid #49b6b2;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}
.side-menu {
	display: none;
}
.show-search #search-hider {
	z-index: 5;
}
@media (max-width: 768px) {
	.side-menu {
		display: block;
	}
}
@media (max-width: 480px) {
	.box-banner {
		height: auto !important;
		min-height: 300px;
	}
	.box-info h2 {
		font-size: 28px !important;
	}
	.box-info h2.number {
		font-size: 110px !important;
	}
	.box-info {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
		height: auto !important;
	}
	.section-title {
		font-size: 32px !important;
		margin-bottom: 10px;
	}
}