body {
	font-family: 'PT Sans', sans-serif;
	color: #9BABB3;
	background-color: #4F5861;
}
.os-font {
	font-family: 'Cabin Condensed', sans-serif;
}
.dark-color {
    color: #2a2a2a !important;
}
#main {
	margin-top: 0;
}
.banner-text .banner-text-inner > .container-fluid {
	padding-left: 54px;
	padding-right: 54px;
}
.banner-text .banner-text-inner {
	padding-bottom: 54px;
}
.social-links-wrap {
	height: 100%;
	position: relative;
	display: table;
	width: 100%;
}
.social-links-wrap .social-links {
	display: table-cell;
    vertical-align: bottom;
}
.social-links a {
    color: #fff;
}
.social-links a .inner-social {
    float: right;
    margin: 0px 6px 6px;
    -moz-transition-property: border-color,opacity;
    -o-transition-property: border-color,opacity;
    -webkit-transition-property: border-color,opacity;
    transition-property: border-color,opacity;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
	width: 42px;
    height: 42px;
    line-height: 38px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	border-color: rgb(255, 255, 255);
    opacity: 0.75;
}
@media (max-width: 768px) {
	#fullscreen-banner {
		background-position: center center;
	}
	.social-links a .inner-social {
		width: 37px;
		height: 37px;
	}
}
@media (max-width: 480px) {
	.equalheight {
		height: auto !important;
	}
	.banner-text .banner-text-inner {
		vertical-align: middle;
		padding-bottom: 0;
	}
	.social-links-wrap {
		margin-top: 30px;
	}
}